body{
    font-family: cursive;
    display: flex;
    justify-content: center;
    background-color: #adefff;
    color: #111857;
}

h5{
    font-family: cursive;
}

.nav-link{
    background-color: #332166;
    color: lavenderblush;
    border: none;
    border-radius: 40px;
    font-style: italic;
    cursor: pointer;
    
}

.nav-link:hover{
    background-color: #8771e6;
}

.btn{
    background-color: #332166;
    color: lavenderblush;
    border-color: #332166;
    border-radius: 20px;

}
.btn:hover{
    background-color: #8771e6;
    border-color: #8771e6;
    color: #000;
}

.form-control{
    border-radius: 20px;
}

.navbar-brand{
    color: #331092;
    text-decoration: underline ;
    font-style: oblique;
}

.my_cat{
    color: #adefff;
    display: flex;
    justify-content: right;
    cursor: pointer;
    font-size: 20px;
    border-style: dotted;
    border-radius: 20px;
    border-width: 8px;
    border-color: #111857;
    background-color: #111857;
}

.my_cat:hover{
    background-color: #8771e6;
    border-color: #8771e6;
}

.me{
    color: lavenderblush;
    cursor: pointer;
    display: flex;
    justify-content: left;
    font-size: 20px;
    border-style: double;
    border-width: 8px;

}

.me:hover{
    background-color: #332166;
}

.filters{
    display: flex;
    justify-content: center;
    text-size-adjust: 10px;
    background-color: #777777;
}
