body{
    font-family: cursive;
    display: flex;
    justify-content: center;
    background-color: #adefff;
    color: rgb(17, 24, 87);
}

h5{
    font-family: cursive;
    text-decoration: underline;
}

.nav-link{
    background-color: #261c3d;
    color: lavenderblush;
    border: none;
    border-radius: 40px;
    font-style: italic;
    cursor: pointer;
    
}

.nav-link:hover{
    background-color: #8771e6;
}

.btn{
    background-color: #332166;
    color: lavenderblush;
    border-color: #332166;
    border-radius: 20px;

}
.btn:hover{
    background-color: #8771e6;
    border-color: #8771e6;
    color: #000;
}

.form-control{
    border-radius: 20px;
}

.navbar-brand{
    color: #8b69e7;
    text-decoration: underline ;
    font-style: oblique;
}
